<% include partials/header.ejs%>
<header class="jumbotron mt-5">
  <h1 class="display-3">Home Page</h1>
</header>
<main>
  <h2>Welcome to Google Auth Tutorials</h2>
</main>
<% include partials/footer.ejs%>
