<% include partials/header.ejs%>
<header class="jumbotron mt-5">
  <h1 class="display-3">Login Page</h1>
</header>
<main>
  <a href="/auth/google" class="btn btn-outline-danger">Login as a Google</a>
  <a href="/auth/facebook" class="btn btn-outline-danger"
    >Login as a Facebook</a
  >
</main>
<% include partials/footer.ejs%>
